deepspeed==0.10.2
transformers==4.33.1
deepchem==2.7.1
dgl==1.1.2
dgllife==0.3.2
google-cloud-storage==2.10.0
lightning==2.0.8
pytorch-metric-learning==2.3.0
rdkit-pypi==2022.9.5
tensorboard==2.14.0
sentencepiece==0.1.99
tokenizers==0.13.3